.container-card-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 960px;
    height: 200px;
    background-color: var(--dsc-color-bg-card);
    margin: 20px 120px;
    border: 1px solid var(--dsc-color-bg-card);
    border-radius: 5px;
}

.container-card-products {
    display: flex;
    width: 960px;
    height: 408px;
    background-color: var(--dsc-color-bg-card);
    margin: 20px 120px;
    border: 1px solid var(--dsc-color-bg-card);
    border-radius: 5px;
    flex-direction: column;
}

.input-filter {
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--dsc-color-bg-filter);
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;

}

.input-filter p {
    color: var(--dsc-color-bg-filter);
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
}

.filter {
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--color-bg-header);
    background-color: var(--color-bg-header);
    align-items: center;
    margin: 20px;
}

.filter p {
    color: var(--dsc-color-bg-card);
    margin: 0 auto;
}


.list-card-products {

    display: flex;
    flex-direction: column;
    width: 920px;
    height: 53px;
    border-radius: 5px;
    border: 1px solid var(--dsc-color-bg-filter);
    margin-left: 20px;
    margin-top: 20px;
    align-items: left;

}

.list-card-products p {
    font-size: 12px;
    font-weight: 400;
    color: var(--dsc-color-bg-primary);
    margin: 5px auto 2px 5px;
}

.list-card-products h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-bg-header);
    margin: 0 auto 5px 5px;
    
}
